/* > Wont work, not vailid syntax */
*{
  box-sizing: border-box;
}
.about h1{
  color: red;
  text-align: center;
}
.about body{
  margin: 10px;
}

.upperDescription{
  padding: 30px;
  text-align: center;
  max-width: 400px;
  margin:auto;
  border-color: lightblue;
  border-style: solid;
  border-radius: 15px;
  margin-top: 10px;
  background-color: rgba(173, 216, 230, 0.459);
}
.lowerDescription{
  padding: 30px;
  text-align: center;
  max-width: 400px;
  margin:auto;
  border-color: lightblue;
  border-style: solid;
  border-radius: 15px;
  margin-top: 10px;
  background-color: rgba(173, 216, 230, 0.459);
}
.grid-container {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 20px;
  font-size: 30px;
  text-align: center;
}