.myBookingItems{
  box-sizing: border-box;
}

.wrapperInItem {
  width: 70%;
  background: #eee;
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
}

.wrapperInItem > .wrap > img{
  border-radius: 5px;
  height: 150px;
  width: 150px;
}

.wrapperInItem  > .wrap {
  display: grid;
  grid-template-columns: 1fr 60%;
}

.wrapperInItem  > .wrap > .info > p > span{
  font-weight: bolder;
}