.myBookings{
  padding: 20px;
  text-align: center;
}

.myBookings > .wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.myBookings > .wrapper > .future{
  border-radius: 10px;
  background: white;
}

.myBookings > .wrapper > .future > p{
  margin: 5px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  color: #f50057;
  letter-spacing: 6.2px;
}

.myBookings > .wrapper > .passed{
  border-radius: 10px;
  background: white;
}

.myBookings > .wrapper > .passed > p{
  margin: 5px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  color: #f50057;
  letter-spacing: 6.2px;
}
@media (max-width: 480px) {
.myBookings > .wrapper{
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 10px;
}  
}
@media (min-width: 481px) and (max-width: 767px) {
  .myBookings > .wrapper{
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 10px;
}  
}
@media (min-width: 768px) and (max-width: 1024px) {
  
}

