.myRentalItem {
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 55% 10%;
  grid-gap: 10px;
  width: 70%;
  background: #eee;
  margin: 15px auto;
  padding: 10px;
  border-radius: 1px;
  box-shadow: 5px 10px 18px #888888;
}

.myRentalItem:hover {
  transform: scale(1.02);
  transition: 300ms;
}

.myRentalItem > .img > img {
  border-radius: 5px;
  height: 150px;
  width: 250px;
  object-fit: cover;
}

.myRentalItem > .info > {
  justify-self: center;
}

.myRentalItem > .delete > .deleteRes {
  margin-left: 20px;
}

.myRentalItem > .delete > .deleteRes:hover {
  transform: scale(1.4);
  transition: 300ms;
}

.myRentalItem > .info > p > span {
  font-weight: bolder;
}
