.myRentals {
  background: white;
  width: 70%;
  margin: 20px auto;
  padding: 10px;
  min-height: 80vh;
  border-radius: 10px;
}

.myRentals > p {
  margin: 5px;
  padding: 10px 5px 10px 5px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  color: #f50057;
  letter-spacing: 6.2px;
  border-bottom: 1px solid #f5005660;
}

@media (max-width: 480px) {
  
}

@media (min-width: 481px) and (max-width: 1151px) {
  .myRentals {
    width: 90%;
  }
}

@media (min-width: 1151px) and (max-width: 1400px) {
  .myRentals {
    width: 80%;
  }
}