
.myRentalItem {
  display: grid;
  grid-template-columns: 1fr 70%;
  width: 50%;
  background: #eee;
  margin: 15px auto;
  padding: 10px;
  border-radius: 1px;
  box-shadow: 5px 10px 18px #888888;
  cursor: pointer;
}

.myRentalItem:hover{
  Transform: scale(1.02);
  transition: 300ms;
}


.myRentalItem > .img > img{
  border-radius: 5px;
  height: 150px;
  width: 250px;
  object-fit: cover;
}

.myRentalItem  > .info > p > span{
  font-weight: bolder;
}