.myRentalDetailPage {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  padding-bottom: 20px;
}

.myRentalDetailPage > .inner{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.myRentalDetailPage > .inner > .information > .infoWrapper{
  padding-right: 40px;
}

.myRentalDetailPage > .inner > .information > .infoWrapper > .desc{
  width: 90%;
}

.myRentalDetailPage > .inner > .information >  .infoWrapper > .desc > .resTitle{
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  color: black;
  letter-spacing: 1.2px;
}

.myRentalDetailPage > .inner > .information >  .infoWrapper > .desc >  p{
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: black;
  letter-spacing: 1.2px;
}

.myRentalDetailPage > .inner > .information >  .infoWrapper > .desc >  p > span{
  color: #f50057;
  font-weight: bolder;
}

.myRentalDetailPage > .images{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.myRentalDetailPage > .images img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.statistics{
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #eee;
  height: 70%;
  display: grid;
  grid-template-rows: 40% 1fr;
}

.statistics > .statInfo > p{
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: black;
  letter-spacing: 1.2px;
}

.statistics > .statInfo > p > span{
  color: #f50057;
  font-weight: bolder;
}

.statistics > .statInfo > .statisticsTitle{
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  color: #f50057;
  letter-spacing: 3.2px;
  text-align: center;
  text-transform: uppercase;
}

.statistics > .stats{
  display: grid;
  grid-template-columns: 10% 10% 10% 10%;
  grid-template-rows: 1fr;
}

.statistics > .stats > .statViews, .statBooked, .statBookings, .statPercent{
  border-radius: 5px;
  background: #f50057;
  width: 20px;
  height: 40px;
  align-self:flex-end;
}