.nav-bar {
  display: grid;
  grid-template-columns: 50% 1fr;
  height: 10vh;
  background: linear-gradient(rgba(26, 5, 5, 0.822), rgba(56, 56, 56, 0.548));
  position: fixed;
  width: 100%;
  margin: 0;
  top: 0;
}

.nav-bar h4 {
  margin: 0;
  margin-left: 10px;
  align-self: center;
  color: white;
}

.links {
  align-self: center;
}

.links a {
  font-family: "Montserrat", sans-serif;
  color: white;
  margin: 20px;
}
