.page404{
  background-image: url(https://images.homedepot-static.com/productImages/23e773bd-fe78-4ee8-90b7-820c6c2c5767/svn/allures-illusions-coffee-cups-mugs-giant-coffee-64_1000.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin-top: -3vh;
}