.person{
  margin-bottom: 30px;
}
.flip-card-person{
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  perspective: 1000px;
  width: 100%;
  height: 50vh;
}

.flip-card-person img{
  width: 100%;
  height: 75%;
  object-fit: cover;
}

.flip-card-inner-person {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card-person:hover .flip-card-inner-person {
  transform: rotateY(180deg);
}

.flip-card-front-person, .flip-card-back-person {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front-person {
  background-color: #eee;
  color: black;
}

.flip-card-back-person {
  background-color: #eee;
  color: white;
  transform: rotateY(180deg);
}
.flip-card-back-person > p{
  padding: 4px;
  font-family: "Montserrat", sans-serif;
  font-size: 2vh;
  color: #f50057;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  text-align: left;
}

.flip-card-back-person > p > span{
  padding: 4px;
  font-family: "Montserrat", sans-serif;
  font-size: 2vh;
  color: black;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  text-align: left;
}

.flip-card-front-person > p {
  padding: 4px;
  font-family: "Montserrat", sans-serif;
  font-size: 2vh;
  color: black;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
@media (max-width: 480px) {
  .flip-card-person{
  margin-top: 2px;
  padding: 2px;
  width: 100%;
  height: 50vh;
  justify-items: center;
}
}
@media (min-width: 481px) and (max-width: 767px) {
  .flip-card-person{
  margin-top: 2px;
  width: 90%;
  height: 50vh;
}
}
@media (min-width: 768px) and (max-width: 1024px) {
  .flip-card-person{
  margin-top: 2px;
  width: 90%;
  height: 50vh;
}
}
@media (min-width: 1025px){
  .person .flipIcon {
  display: none;
  }
}