.MuiSvgIcon-root:hover {
  transform: scale(1.3);
  transition: 300ms;
  background-color: transparent;
}
.MuiButton-root:hover {
  text-decoration: none;
  background-color: transparent;
}
.MuiButton-text {
  padding: 10px 10px;
}
.MuiButton-label {
  margin-top: 10px;
}
.MuiButton-root {
  margin-top: 30px;
}
.profileMenu:hover {
  background-color: transparent;
}
