.MuiSvgIcon-root:hover {
  transform: scale(1.3);
  transition: 300ms;
  text-decoration: none;
  background-color: transparent;
}

.MuiButton-text {
  padding: 10px 10px;
}
.MuiButton-label {
  margin-top: 10px;
}

.MuiButton-root {
  margin-top: 30px;
}

.profileMenu {
  display: grid;
  align-self: center;
}

.MuiButtonBase-root .MuiButton-root .MuiButton-text {
  outline: none;
  box-shadow: none;
}
