.register .grid-item-input{
  width:80%;
  margin: 0 auto;
  opacity: 90%;
  background: #eee;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  border-radius: 5px;
}

.alreadyAUser{
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #f50057;
  letter-spacing: 2.2px;
}

.register .grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.register .grid-item {
  background-color: rgba(128, 128, 128, 0);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.register .inner-grid input{
  width: 90%;
  margin: 15px auto;
  border: none;
  border-radius: 5px;
  padding: 10px;
  display: block;
}

.register button{
  width: 95%;
  display: block;
  margin: 0 auto;
  border: none;
  padding: 10px;
  color: white;
  background: rgb(68, 68, 248);
  border-radius: 10px;
  cursor: pointer;
}

.register button:hover{
  Transform: scale(1.02);
  transition: 300ms;
}
.register{
  background-size: cover;
  min-height: 90vh;
  background-image: url("https://a-static.besthdwallpaper.com/dagsljus-och-forest-tapet-1366x768-22181_46.jpg");
  width: 100%;
  background-image: url("https://i.postimg.cc/DwGYFD3x/New-Project-1.png");
  min-height: 90vh; 
  background-size: cover;
  background-repeat: no-repeat; 
}

@media (max-width: 480px) {
  .register .grid-item-input{
  width:85%;
  margin: 0 auto;
  opacity: 90%;
  background: #eee;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  border-radius: 5px;
}
 .register .grid-item {
  background-color: rgba(128, 128, 128, 0);
  padding: 0vh 0vh 17vh 0vh;
  font-size: 30px;
  text-align: center;
}
.register button{
  width: 100%;
  display: block;
  margin: 0 auto;
  border: none;
  padding: 10px;
  color: white;
  background: rgb(68, 68, 248);
  border-radius: 10px;
  cursor: pointer;
  font-size: 40px;
}
.register input[placeholder="First name"],[placeholder="Last name"],[placeholder="email"],[placeholder="password"],[placeholder="confirm password"]{
  font-size: 29px;
} 
}
@media (min-width: 481px) and (max-width: 767px) {
  .register button{
  width: 95%;
  font-size: 40px;
}
  .register input[placeholder="First name"],[placeholder="Last name"],[placeholder="email"],[placeholder="password"],[placeholder="confirm password"]{
  font-size: 4vh;
} 
}
@media (min-width: 768px) and (max-width: 1024px) {
  .register .grid-item {
  background-color: rgba(128, 128, 128, 0);
  padding: 14vh 0px 20px 0px;
  font-size: 30px;
  text-align: center;
} 
  .register button{
  width: 95%;
  font-size: 40px;
}
  .register input[placeholder="First name"],[placeholder="Last name"],[placeholder="email"],[placeholder="password"],[placeholder="confirm password"]{
  font-size: 40px;
} 
}