.residences > form > input{
  display: block;
  margin: 15px auto;
  padding: 15px;
  width: 40%;
}

.residences > form > button{
  display: block;
  margin: 10px auto;
  width: 42.5%;
  padding: 15px;
}

.residences > button{
  display: block;
  margin: 10px auto;
  width: 42.5%;
  padding: 15px;
}