.residenceDetail {
  width: 80%;
  margin: 0 auto;
}

.residenceDetail > .images{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.residenceDetail > .images img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}