.residences > .searchFields > form > input{
  border: none;
  border-radius: 10px;
  text-align: center;
  font-size: large;
  margin: 10px;
  padding: 10px;
  width: 100%;
}

.residences > .searchFields > form > button{
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: rgb(68, 68, 248);
  color: white;
  font-size: large;
  margin: 10px;
  width: 100%;
  cursor: pointer;
}

.residences > .searchFields  > button{
  border: none;
  border-radius: 10px;
  background: rgb(68, 68, 248);
  color: white;
  font-size: large;
  margin: 10px;
  width: 41%;
  padding: 5px;
  cursor: pointer;
}

.residences > .searchFields > form{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.residences > .searchFields > form > button:hover{
  Transform: scale(1.02);
  transition: 300ms;
}

.residences > .searchFields  > button:hover{
  Transform: scale(1.02);
  transition: 300ms;
}

.residences > .searchFields{
  margin: 10px auto;
  border-radius: 10px;
  width: 90%;
  padding: 20px;
  background: rgb(224, 220, 220);
  opacity: 80%;
}
@media (max-width: 480px) {
  .residences > .searchFields > form > input{
    font-size: 30px;
    width: 90%;
  }
  .residences > .searchFields > form > button{
    font-size: 30px;
    width: 94%;
  }
  .residences > .searchFields  > button{
    font-size: 30px;
    width: 94%;
  }
  
}
@media (min-width: 481px) and (max-width: 767px) {
  .residences > .searchFields > form > input{
    font-size: 30px;
    width: 90%;
  }
  .residences > .searchFields > form > button{
    font-size: 30px;
    width: 93%;
  }
  .residences > .searchFields  > button{
    font-size: 30px;
    width: 93%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
.residences > .searchFields > form > input{
    font-size: 30px;
    width: 90%;
  }
  .residences > .searchFields > form > button{
    font-size: 30px;
    width: 92%;
  }
  .residences > .searchFields  > button{
    font-size: 30px;
    width: 92%;
  }
}